<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>User</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<div th:replace="../fragments/menu :: menu"></div>
		</div>
		<div class="col-6 text-right">
			<div th:replace="../fragments/menu :: homeLink"></div>
		</div>
	</div>
	<div class="row"><h2>User List</h2></div>
	<div class="row">
		<a href="/user/add" class="btn btn-primary btn-sm">Add New</a><div class="text-danger col-6 text-right" th:if="${error}" th:text="${error}"></div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Full Name</th>
					<th>Username</th>
					<th>Role</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td style="width: 10%" th:text="${user.id}"></td>
					<td th:text="${user.fullName}"></td>
					<td th:text="${user.username}"></td>
					<td style="width: 25%" th:text="${user.role}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>